* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1.1rem;
  background-color: #808080;
}

.logo {
  width: 4.2rem;
}

.myCard {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  padding: 0;
}

.myCard img {
    width: 100% !important;
    height: 20rem;
}

.card-body {
    background-color: #212529;
}

#spedition img {
  width: 3rem;
  border-radius: 10px;
}

footer a {
  text-decoration: none !important;
  color: #808080 !important;
}

footer a:hover {
  color: #c9c7c7 !important;
}
